.promo {
  background-color:#F5F5F5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  min-height: 524px;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 40px;
}