.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .footer__copyright {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
}