.navtab__element {
  all: unset;
  width: 100px;
  height: 32px;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: #E8E8E8;
  border-radius: 20px;
  justify-content: center;

  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  margin: 0 40px 0 0;
}

.navtab__element:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .navtab__element {
    font-size: 11px;
    line-height: 16px;
    margin: 0 24px 0 0;
  }
}