.me__link {
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .me__social-media {
    margin-bottom: 69px;
  }
}