.search-form__input {
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
  height: 48px;
  border: 1px solid #E8E8E8;
  border-radius: 24px;
  padding: 0 0 0 22px;
  max-width: 932px;
  width: 100%;
}

.search-form__input:focus {
  outline: none;
}