.navigation-popup__content {
  width: 65%;
  background-color: white;
  z-index: 5;
  position: relative;
  padding: 160px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}