.card-list {
  padding: 70px 70px 0 70px;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 20px;
  row-gap: 38px;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  .card-list {
    grid-template-columns: repeat(3, min-content);
  }
}

@media screen and (max-width: 1000px) {
  .card-list {
    grid-template-columns: repeat(2, min-content);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 770px) {
  .card-list {
    grid-template-columns: repeat(2, min-content);
    padding: 70px 30px 0 30px;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 750px) {
  .card-list {
    grid-template-columns: max-content;
    padding: 70px 30px 0 30px;
    column-gap: 30px;
    row-gap: 30px;
  }
}