.header {
  height: 74px;
  max-width: 1280px;
  justify-self: center;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 70px;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 14px;
  }
}