.form__input {
  border: none;
  border-bottom: #E8E8E8 1px solid;
  background: #FAFAFA;
  height: 46px;
  margin: 0 0 10px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 0;
}